<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
   

    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <authentication mode="Forms">
      <forms defaultUrl="~/backend/index.aspx" loginUrl="~/backend/login.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>
    <!--<membership defaultProvider="AspNetSQlMembershipProvider" userIsOnlineTimeWindow="1"/>-->
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="HttpPostLocalhost" />
        <add name="Documentation" />
      </protocols>
    </webServices>
  </system.web>
  <appSettings>
    <add key="SystemName" value="Pueantae leasing" />
    <add key="LinkFrontend" value="http://www.pueantaeleasing.com" />
    <add key="DataBaseName" value="MBS_PTLEASING3_WEB" />
    <add key="ServerName" value="mixproadvance.ddns.net" />
    <add key="UserName" value="mixpro" />
    <add key="PassWord" value="Mpa2008" />
      <!--<add key="DataBaseName" value="MBS_FINANCE_DEMO" />
    <add key="ServerName" value="150.95.31.40" />
    <add key="UserName" value="mixpro" />
    <add key="PassWord" value="Mpa2008" />-->
    
    <add key="CheckIP" value="off" />
    <add key="SetTime" value="off" />
    <!--on=เช็ควันเวลาเปิดปิด web-->
    <add key="CloseHoliday" value="off" />
    <!--on=เช็ควันหยุดเสาร์-อาทิตย์ web-->
    <add key="OpenTime" value="07:30 AM" />
    <!--เวลาเปืด-->
    <add key="CloseTime" value="11:59 PM" />
    <!--เวลาปืด-->
  </appSettings>
  <system.webServer>
    <!--<defaultDocument>
      <files>
        <clear />
        <add value="backend/index.aspx" />
      </files>
    </defaultDocument>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler,            AjaxControlToolkit" />
    </handlers>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.1.8.0" newVersion="2018.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Base" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.1.8.0" newVersion="2018.1.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

 
</configuration>